/* колір основного тексту #212121 */
/* додатковий колір тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* колір основного фону #F5F5F5 */
/* додатковий колір фону #F5F4FA */

:root {
    --primary-bg-color: #F5F5F5;
    --additional-bg-color: #F5F4FA;
    --accent-color: #2196F3;
    --bg-footer-color: #2F303A;
    --primary-text-color: #757575;    
    --title-text-color: #212121;      
    --logo-text-color: #000000;
    --primary-white-color: #FFFFFF;    
    --contact-footer-color: rgba(255, 255, 255, 0.6);
    --button-active-color: #188CE8;    
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);    
}

.list {
    list-style: none;
}

/* Header */

.page-header {
    background-color: var(--primary-white-color);
}

.logo,
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    text-decoration: none;  
}

.logo-color {
    color: var(--accent-color);
}

.logo-text {
    color: var(--logo-text-color);
}

/* Site-nav */

.site-nav .link {
    color: var(--title-text-color);        
}

.site-nav .link,
.contacts .contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Contacts */

.contacts .contact {
    color: var(--primary-text-color);    
}

.contacts .contact:hover,
.contacts .contact:focus {
    color: var(--accent-color);
}

/* Hero */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);    
}

/* Button */

.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-white-color);    
    border: none;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-active-color);
}

/* Section */

.section-title {
    font-size: 36px;
    line-height: 1.1667;
    text-align: center;
    color: var(--title-text-color);            
}

/* Features */

.feature-list .title {
    font-size: 14px;
    line-height: 1.1429;
    color: var(--title-text-color);    
}

.feature-list .text {        
    font-size: 14px;
    line-height: 1.7143;        
}

/* Our team */

.team {
    background-color: var(--additional-bg-color);
}

.team-item {
    background-color: var(--primary-white-color);
}

.team-list .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--title-text-color);            
}

.team-list .text {    
    font-size: 16px;
    line-height: 1.1875;       
}

/* Footer */

.page-footer {
    background-color: var(--bg-footer-color);
}

.logo-footer-color {
    color: var(--accent-color);
}

.logo-footer-text {
    color: var(--primary-white-color);
}

.address-footer,
.contact-footer {
    font-size: 14px;
    line-height: 1.7143;
    text-decoration: none;
    font-style: normal;
}

.address-footer {
    color: var(--primary-white-color);    
}

.contact-footer {
    color: var(--contact-footer-color);    
}

.address-footer:hover,
.address-footer:focus,
.contact-footer:hover,
.contact-footer:focus {
    color: var(--accent-color);
}



/* Портфоліо */

.portfolio-nav .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    background-color: var(--additional-bg-color);
    color: var(--title-text-color);    
    border: none;
    cursor: pointer;
}

.portfolio-nav .button:hover,
.portfolio-nav .button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.portfolio-item {
    background-color: var(--primary-white-color);    
}

.portfolio-list .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);        
}

.portfolio-list .text {
    font-size: 16px;
    line-height: 1.875;
    color: var(--primary-text-color);    
}

.portfolio-list .link {
    text-decoration: none;
}

